<div class="container">
  <h2 class="text-center">contact</h2>
    <p class="text-center"><em>We Love our customers</em></p>
    <div class="row test">
      <div class="col-md-4">
      <p>Fan? Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>YMCAUST FARIDABAD</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +91 8901415046</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: fitzra@gmail.com</p>
    </div>
