
<div class="container">
  <h2>how can we help you</h2>
  <div class="well well-sm">

    <h2>About us</h2>
    <%=link_to "About us",page_about_path %>
    </div>
  <div class="well well-medium">drgdgd</div>
  <div class="well well-medium"> vbfsdjgbdjbgd</div>
</div>
